<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
</head>
<body>

<div class=" text-center">
<div class="p-3 mb-2 bg-info text-white">
	<br><br>
  <h1>What courses to take</h1>
  <p>Enter your intended major and we'll show you what courses you should take</p>
  <br>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
			  <div class="card-header">
				comp 110
			  </div>
			  <div class="card-body">
				<h5 class="card-title">Introduction to Programming</h5>
				<p class="card-text">Prerequisites: MATH 110</p>
				<a href="#" class="btn btn-primary">More info</a>
			  </div>
			</div>
		</div>
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
			  <div class="card-header">
				comp 283
			  </div>
			  <div class="card-body">
				<h5 class="card-title">Discrete Structures</h5>
				<p class="card-text">Prerequisites: MATH 231 or MATH 241</p>
				<a href="#" class="btn btn-primary">More info</a>
			  </div>
			</div>
		</div>
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
			  <div class="card-header">
				comp 401
			  </div>
			  <div class="card-body">
				<h5 class="card-title">Foundation of Programming</h5>
				<p class="card-text">Prerequisites: MATH 231 or MATH 241</p>
				<a href="#" class="btn btn-primary">More info</a>
			  </div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
			  <div class="card-header">
				comp 410
			  </div>
			  <div class="card-body">
				<h5 class="card-title">Data Structures</h5>
				<p class="card-text">Prerequisites: MATH 231 or MATH 241, and COMP 401</p>
				<a href="#" class="btn btn-primary">More info</a>
			  </div>
			</div>
		</div>
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
			  <div class="card-header">
				comp 411
			  </div>
			  <div class="card-body">
				<h5 class="card-title">Computer Organization</h5>
				<p class="card-text">Prerequisites: MATH 231 or MATH 241, and COMP 401</p>
				<a href="#" class="btn btn-primary">More info</a>
			  </div>
			</div>
		</div>
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
			  <div class="card-header">
				comp 426
			  </div>
			  <div class="card-body">
				<h5 class="card-title">Modern Web Programming</h5>
				<p class="card-text">Prerequisites: COMP 401, and 410</p>
				<a href="#" class="btn btn-primary">More info</a>
			  </div>
			</div>
		</div>
	</div>
	
	<br>
	
	<div class="row">
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
			  <div class="card-header">
				comp 433
			  </div>
			  <div class="card-body">
				<h5 class="card-title">Mobile Computing Systems</h5>
				<p class="card-text">Prerequisites: COMP 401, 410, and 411</p>
				<a href="#" class="btn btn-primary">More info</a>
			  </div>
			</div>
		</div>
	</div>

	<br>

	
</body>
</html>